<!DOCTYPE html>
<html>
<head>
    <title>Система подачи жалоб и предложений</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <header>
        <h1>Система подачи жалоб и предложений</h1>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'register' %}">Вход</a>  <!-- Ссылка на вход для авторизованных пользователей -->
            <a href="">Выход</a> <!-- Ссылка на выход для авторизованных пользователей -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Здесь будет основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Система подачи жалоб и предложений</p>
    </footer>
</body>
</html>